@font-face {
  font-family: "Poppins", sans-serif;
  src: url(fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(fonts/Poppins-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.color {
  color: #355688;
  color: #dddff2;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #eff1f7;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/**************** Side-menu ****************/

.side_menu {
  height: 100vh;
  width: 15%;
  background-color: #ffff;
  box-shadow: -39px 2px 63px #888888;
  padding: 30px;
  position: fixed;
}
.closebtn {
  display: none;
}
.logo {
  display: flex;
  align-items: center;
}
.logo1 {
  display: flex;
  align-items: center;
}
.logo_icon {
  padding-right: 14px;
  font-size: 33px;
}

.side_menu h3 {
  color: #355688;
  font-size: 22px;
}
.side_menu span:nth-child(1) {
  color: #dddff2;
}
.nav_text {
  font-size: 12px;
  color: #bcbcc1;
}
.dash {
  color: #767575;
  font-weight: 400;
  font-size: 12px;
}
.icons {
  color: #767575;
}
.active {
  background-color: #eff1f7;
  padding: 12px 0px;
  border-left: 5px solid #355688;
  border-radius: 0px 5px 5px 0px;
  color: #355688;
  margin-left: -30px;
}
.active .icons {
  color: #355688;
}
.active .dash {
  color: #355688;
  color: black;
  font-weight: 500;
}
.active a {
  margin-left: 25px;
}
/**************** User-Profile ****************/

.user_profile_main {
  padding: 20px;
  margin: 30px;
  background-color: #ffff;
  /* box-shadow: -8px 35px 776px #888888; */
  border-radius: 23px;
}
.profile_pic {
  display: flex;
}

.profile_wish {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 26px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile_name_details {
  padding-left: 18px;
  display: flex;
  align-items: center;
}
.profile_wish p {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 500;
}
.profile_wish p small {
  font-size: 11px;
  font-weight: 500;
}

.profile_wish p span {
  background-color: #355688;
  padding: 1px 9px;
  border-radius: 8px;
  color: #ffff;
}

.free_trial {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 26px;
}

.free_trial button {
  background-color: #355688;
  color: #ffff;
  /* padding: 10px; */
  border: none;
  outline: none;
  border-radius: 11px;
  font-size: 12px;
  width: 171px;
  height: 49px;
}

/**************** Right-side-User-Profile ****************/

.user_profile_right {
  padding: 30px 20px;
  margin: 30px;
  margin: 30px 30px 30px 0;
  background-color: #ffff;
  /* box-shadow: -8px 35px 776px #888888; */
  border-radius: 23px;
}
.profile_icon {
  font-size: 18px;
}

.avatar2 {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile_align {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mobile_header {
  width: 100%;
  height: 7vh;
  display: none;
}

@media screen and (max-width: 1400px) {
  .side_menu {
    left: -1000px;
    transition: 0.3s;
    width: 70%;
  }
  .mobile_header {
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .closebtn {
    display: block;
  }
  .logo {
    display: none;
  }
  .user_profile_right {
    margin: 30px;
  }
  .logo_text {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .user_profile_main {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .free_trial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 15px;
  }
  .profile_wish {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
  }
  .profile_align:nth-child(2) {
    padding-top: 20px;
  }
  .profile_align {
    justify-content: space-between;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #9c1b1b;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn {
  color: #355688 !important;
  font-size: 35px;
}

/*** dashboard-overview **/

.overview {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 30px;
}
.date_and_time {
  display: flex;
}
.date_and_time li {
  padding-right: 10px;
  font-size: 13px;
}

.date_and_time li:nth-child(7) {
  padding-right: 0px;
 
}
.overview p {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 500;
}
.overview p span {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 300;
}
.overview .icons {
  padding-right: 5px;
  font-size: 14px;
}

.monito{
  padding: 20px 0 20px 0;
  margin: 0 30px 0 30px;
}

.monito p{
  font-weight: 500;
  font-size: 15px;
}

/******** Boxes ********/

.boxes{
  padding: 15px;
  background-color: #ffffff;
  border-radius: 6px;
  margin: 0 14px 0 30px
  
}

.boxes_head p{
  font-weight: 500;
  font-size: 12px;
}

.boxes_head{
  display: flex;
  justify-content: space-between;
}
.box_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.percnt_count{
  display: flex;
  justify-content: space-between;
}

.count_section p:nth-child(1){
  font-size: 25px;
  font-weight: 500;
  text-align: end;
  color: #355688;
}
.count_section p:nth-child(2){
  font-size: 12px;
  font-weight: 500;
  text-align: end;
  color: #355688;
}

.percnt_count .icons{
  background: #355688;
  padding: 2px;
  rotate: 33%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  color: white;
}

@media screen and (max-width: 768px) {
  .boxes {
    margin-bottom: 20px;
  }
  .monito_main{
    display: none;
  }
}



.scroll_sidemenu{
  height: 70vh;

}